<div class="header">
  <div class="photo"></div>
  <div class="container">
    <input type="text" placeholder="  Enter a destination or property">
    <div class="row my-3">
      <div class="col-sm-3">
        <div class="form-group">
          <input class="form-control" placeholder="8 May 2022" bsDatepicker [minDate]="minDate" [maxDate]="maxDate"
            #dp="bsDatepicker">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <input class="form-control" placeholder="9 May 2022" bsDatepicker [minDate]="minDate" [maxDate]="maxDate"
            #dp="bsDatepicker">
        </div>
      </div>
      <div class="col-sm-6">
        <ng-select class="box" [(ngModel)]="selectedOption">
          <ng-option *ngFor="let option of options" [value]="option.id">{{option.name}}</ng-option>
       </ng-select>
      </div>
    </div>
  </div>
  <button class="btn btn-primary SEARCH">SEARCH</button>
</div>