<div class="card my-3" style="max-width: 55rem;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://pix8.agoda.net/hotelImages/947/947951/947951_15082411470034898372.jpg?ca=5&ce=1&s=450x450" class="img-fluid rounded-start h-100">
     </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Royal Maxim Palace Kempinski Cairo</h5>
        <i class="fa-solid fa-star text-warning" *ngFor='let in of counter(5)'></i>
        <i class="fa-duotone fa-location-pin"></i>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<!-- counter is a fucction take number and return array of this number so we will use it to take rating number of hotel and loop to display number of stars-->
